.container {
  width: 512px;
  height: 512px;
  margin: auto;
  margin-top: 60px;
}

.heart {
  z-index: 1;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
}
.hometown {
  font-weight: bold;
  font-size: 2.0em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  width: 512px;
  height: 512px;
}
#heart_top {
  width: 200px;
  margin: auto;
  position: relative;
}
#heart_top span {
  height: 350px;
  position: absolute;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  top: 110px;
}
.char1 {
	transform: rotate(-36deg);
  color:rgb(82,12,21);
}
.char2 {
	transform: rotate(-24deg);
  color:rgb(125,22,32);
}
.char3 {
	transform: rotate(-12deg);
  color:rgb(166,32,40);
}
.char4 {
	transform: rotate(0deg);
  color:rgb(196,70,62);
}
.char5 {
	transform: rotate(12deg);
  color:rgb(166,32,40);
}
.char6 {
	transform: rotate(24deg);
  color:rgb(125,22,32);
}
.char7 {
	transform: rotate(36deg);
  color:rgb(82,12,21);
}


#heart_bottom span {
  height: 350px;
  line-height: 700px;
  position: absolute;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  top: 10px;
}

#heart_bottom .char1 {
	transform: rotate(36deg);
}
#heart_bottom .char2 {
	transform: rotate(27deg);
}
#heart_bottom .char3 {
	transform: rotate(18deg);
}
#heart_bottom .char4 {
	transform: rotate(9deg);
}
#heart_bottom .char5 {
	transform: rotate(0deg);
}
#heart_bottom .char6 {
	transform: rotate(-9deg);
}
#heart_bottom .char7 {
	transform: rotate(-18deg);
}
#heart_bottom .char8 {
	transform: rotate(-27deg);
}
#heart_bottom .char9 {
	transform: rotate(-36deg);
}


.city {
  display: inline-block;
  width: 100%;
  height: 300px;
  padding-top: 45px;
  text-align: center;
  font-size: 1.0em;
  z-index: 100;
  position: absolute;
  top: 50%;
  margin-top: -80px;
}

.city > a{
  color: rgb(200,10,10);
}
.city > a:hover{
  color: rgb(120,10,30);
}

.heart, .city {
  animation: HEARTBEAT 2.5s infinite;
}
#heart_top span {
  animation: BOUNCE 2.5s infinite;
}

@keyframes HEARTBEAT {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BOUNCE {
  0% {
    top: 110px;
  }
  10% {
    top: 80px;
  }
  15% {
    top: 85px;
  }
  20% {
    top: 70px;
  }
  75% {
    top: 110px;
  }
  100% {
    top: 110px;
  }
}

a{text-decoration: none;}   
a:hover{text-decoration:none;}
.loveBtnPanel{
  position: fixed;
  right:20%;
  top:10%;
  opacity:1;
  background-color:rgb(24,28,43);
  width:5em;
  visibility: hidden;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  display:inline-block;
}
.loveBtnPanel:hover {
  visibility: visible;
  animation: FADEIN 1s;
  animation-iteration-count: 1;
}

#fullScreenBtn{
  width:100%;
  height:100%;
  color:white;
  cursor:pointer;
}

.loveBtnPanel
{
  animation: FADEOUT 7s;
  animation-iteration-count: 1;
}

@keyframes FADEIN {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FADEOUT {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}


