/*
覆盖bootstrap设置的格式
*/
a{text-decoration: none;}   
a:hover{text-decoration:none;}
.panel-footer{padding:5px;height:30px;font-size:16px;background-color:white;}
/*
因为导航栏是固定顶部的，
防止与内容交叉，
给body添加一个导航栏高度的内边距
*/
body{
	padding-top: 54px;
}
/*
导航栏格式
*/
.navbar{
	background: rgba(52,24,65,0.9);
}
.navbar .logo{
	font-size: 40px;
	line-height: 25px;
	margin-right: 40px;
	color:rgba(167,226,82,0.9);
}
.navbar-main{
	list-style: none;
}
.navbar-main > li{
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-main > li > a{
	font-size: 20px;
	color: rgba(248,246,233,0.9);
	display: block;
}
.navbar-main > li > a:hover{
	color: rgba(231,14,145,0.9);
	background: none;
}
.navbar-main .active > a, .navbar-main .active > a:hover{
	color: rgba(231,14,145,0.9);
}
.navbar-right > li > a{
	color: rgba(248,246,233,0.9);
}
.navbar-right > li > a:hover{
	color: rgba(231,14,145,0.9);
	background: none;
}
.navbar .navbar-toggle{
	background: rgba(52,24,65,0.9);
}
.navbar .navbar-toggle .icon-bar{
	display: block;
	height: 2px;
	width: 20px;
	background: rgba(167, 226, 82, 0.9);
}
/*
用户信息圆
*/
.user{
	position: fixed;
	right:60px;
	top:2px;
	height: 64px;
	z-index: 9999;
}
.user-circle{
	position: absolute;
	right: 0;
	width: 64px;
	height: 64px;
	z-index: 1;
	animation: userCircle 3s;
	-webkit-animation: userCircle 3s;  Safari and Chrome 
	transition: transform 0.8s;
	-webkit-transition: transform 0.8s; /* Safari */
}
.user-circle:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.user-info{
	position: relative;
	margin-right: 64px;
	margin-top: 24px;
	font-size: 16px;
	color: rgba(248,246,233,0.9);
	line-height: 16px;
	z-index: 0;
}
#user-name{
	display: inline-block;
	width: 100px;
	text-align: right;
	color: rgba(248,246,233,0.9);
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.user-info .dropdown:hover .dropdown-menu{
	display: block;
}
.user-info .dropdown-menu{
	width: 100px;
	-moz-box-shadow: 0 2px 1px rgba(52,24,65,0.9);
	-webkit-box-shadow: 0 2px 1px rgba(52,24,65,0.9);
	box-shadow: 0 2px 1px rgba(52,24,65,0.9);
}
.user-info .dropdown-menu a{
	color: #889;
}
.user-info .dropdown-menu a:hover{
	background: #eef;
	-moz-box-shadow: 0 0 0 rgba(52,24,65,0.9);
	-webkit-box-shadow: 0 0 0 rgba(52,24,65,0.9);
	text-shadow: 0 0 0 rgba(52,24,65,0.9);
}
/*
开场动画
*/
@keyframes userCircle
{
	0%   {right:0px;}
	45%  {right:20%; width:100px;height:100px; transform: rotateY(1080deg);}
	90%  {right:0px; transform: rotateY(720deg);}
	100% {right:0px;}
}

@-webkit-keyframes userCircle /* Safari and Chrome */
{
	0%   {right:0px;}
	45%  {right:20%; width:100px;height:100px; transform: rotateY(1080deg);}
	90%  {right:0px; transform: rotateY(720deg);}
	100% {right:0px;}
}
/*
article
*/
.article{
	
}
.article-title{
	font-weight: bold;
	font-size: 24px;
	display: inline-block;
	width: 100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.article-preview{
	max-height: 100px;
	overflow:hidden;
}
.article-update-at{
	float: right;
}

