/*
覆盖bootstrap设置的格式
*/
a{text-decoration: none;}   
a:hover{text-decoration:none;}
a.toblank{ 
    target:expression(this.target=’_blank’) 
} 
a.totop{ 
    target:expression(this.target=’_top’) 
} 
a.toself{ 
    target:expression(this.target=’_self’) 
} 
a.toparent{ 
    target:expression(this.target=’_parent’) 
}
.panel-footer{padding:0.2em;height:2em;font-size:1em;background-color:white;}
footer{margin-bottom: 1em;}
/*
因为导航栏是固定顶部的，
防止与内容交叉，
给body添加一个导航栏高度的内边距
*/
body{
	padding-top: 4em;
}
/*
导航栏格式
*/
nav{
	background-color:rgba(52,24,65,0.9);
}
.navbar .logo{
	font-size: 2em;
	color:rgba(167,226,82,0.9);
}
.navbar-nav{
	list-style: none;
}
.navbar-nav > li{
	padding-top: 0;
}
.navbar-nav>li>a{
	font-size: 1.2em;
	color: rgba(248,246,233,0.9);
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>.active>a:hover{
	color: rgba(167,226,82,0.9);
	background-color:transparent;
}
.navbar-right > li > a{
	font-family: Cursive;
	color: rgba(248,246,233,0.9);
}
.navbar-right > li > a:hover, .navbar-right > li > a:focus{
	font-family: Serif;
}
.navbar .navbar-toggle{
	background: rgba(52,24,65,0.9);
}
.navbar .navbar-toggle .icon-bar{
	display: block;
	height: 0.15em;
	width: 1.25em;
	background-color: rgba(167, 226, 82, 0.9);
}
/*
用户信息圆
*/
.navbar-nav>.dropdown>a{
	padding:0;
	padding-right:0.5em;
}
.user-circle{
	width: 50px;
	height: 50px;
	/*
	animation: userCircle 3s;
	-webkit-animation: userCircle 3s;  Safari and Chrome 
	transition: transform 0.8s;
	-webkit-transition: transform 0.8s; *//* Safari */

}
.user-circle:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.user-name{
	display: inline-block;
	width: 100px;
	text-align: right;
	color: rgba(248,246,233,0.9);
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.dropdown:hover .dropdown-menu{
	display: block;
	margin-top: 0; // remove the gap so it doesn't close
}
.dropdown> a, .dropdown> a:hover, .dropdown> a:focus{
	background-color:transparent;
}
.nav >.open>a:focus, .nav>.open>a:hover, .nav>.open>a{
	background-color:transparent;
}
.dropdown-menu > li > a{
	color:rgba(248,246,233,0.9);
	background-color:rgba(52,24,65,0.6);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color:rgba(167,226,82,0.9);
	background-image:none !important;
	background-color:rgba(52,24,65,0.6);
}
/*
开场动画
*/
@keyframes userCircle
{
	0%   {right:0px;}
	45%  {right:20%; width:100px;height:100px; transform: rotateY(1080deg);}
	90%  {right:0px; transform: rotateY(720deg);}
	100% {right:0px;}
}

@-webkit-keyframes userCircle /* Safari and Chrome */
{
	0%   {right:0px;}
	45%  {right:20%; width:100px;height:100px; transform: rotateY(1080deg);}
	90%  {right:0px; transform: rotateY(720deg);}
	100% {right:0px;}
}
/*
footer固定到底部
*/
html,body{
	height:100%;
}
#wrap{
	min-height: 100%;
}
#main{
	overflow:auto;
	padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
}
/*
article
*/
.article{
	
}
.article-page{
	padding:1.5em;
	background-color: rgb(242,235,217);
}
.article-title{
	font-weight: bold;
	font-size: 24px;
	display: inline-block;
	width: 100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.article-update-at{
	float: right;
}
/*
comment
*/
.comment-line{
	padding:1em;
	background-color: 
}
.comment-area-logo{
	font-size: 2em;
}
.article-comment{
	padding: 2px;
	margin-top: 0;
	margin-bottom: 1em;
	box-shadow: 0 0 2px 2px rgba(52,24,65,0.9);
}
.true-inner{
	border-bottom: 1px double;
	border-width: 3px;
	border-bottom-right-radius: 4em 0.5em;
}
.inner-article-comment{
	position:relative;
	padding:1em;
	background-image: url('../img/comment.jpg');
	background-repeat: no-repeat;
	min-height: 5em;
}
.inner-article-comment-content{
	margin:0;
}
.comment-gray{
	color:gray;
}
.yinyong{
	position:absolute;
	bottom:1em;
	left:90%;
}
/*
photo select animation
*/
.photo-select-ani ul{
  position:relative;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}
.photo-select-ani>ul>li{
  position:relative;
  float:left;
  width:12em;
  height:12em;
  margin: 0;
}
.photo-select-ani img {
  position: absolute;
  padding:0;
  top: 1em; left: 1em;
  width: 10em;
  height: 10em;
  box-shadow: 0 0 0 1em #fff;
  cursor: pointer;
  animation:        unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-animation:     unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -ms-animation:    unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-animation:   unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -webkit-animation: unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% {box-shadow: 0 0 0 4px #fff; }
}
@-o-keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { -o-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% {box-shadow: 0 0 0 4px #fff; }
}
@-ms-keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { width: 45%; height: 45%; opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% {box-shadow: 0 0 0 4px #fff; }
}
@-moz-transition unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { -moz-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% {box-shadow: 0 0 0 4px #fff; }
}
@-webkit-keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { -webkit-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% {box-shadow: 0 0 0 4px #fff; }
}

.photo-select-ani li:before {
  content: "\2714";
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:  #00c09e;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  opacity: 0;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
  -o-user-select:      none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  cursor: pointer;
}

.photo-select-ani li.selected:before {
  opacity: 1;
}

/* img selection */

.photo-select-ani li.selected img {
  box-shadow: 0 0 0 4px #00c09e;
  animation:        selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-animation:     selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -ms-animation:    selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-animation:   selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -webkit-animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@keyframes selected {
  0% { border-color: #fff; }
  50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 10em; height: 10em; box-shadow: 0 0 0 4px #00c09e; }
}
@-o-keyframes selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { -o-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 10em; height: 10em; box-shadow: 0 0 0 4px #00c09e; }
}
@-ms-keyframes selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { width: 45%; height: 45%; opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 10em; height: 10em; box-shadow: 0 0 0 4px #00c09e; }
}
@-moz-transition selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { -moz-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 10em; height: 10em; box-shadow: 0 0 0 4px #00c09e; }
}
@-webkit-keyframes selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { -webkit-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 10em; height: 10em; box-shadow: 0 0 0 4px #00c09e; }
}





